.loginPage
{   
    /* background: url('images/checked.png'), #6DB3F2; */
 
    /* background: url('78.png') , #f1434e;  
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh; */
    /* background-color: #f1434e !important; */

}

.block{
    background: url('78.png') no-repeat;
    height: 100vh;
    position: relative;
  }
  
  .block::before{
    /* background-color: rgba(0, 0, 0, 0.37); */
    background-color:rgba(243, 13, 29, 0.37);
    /* background-color:#f1434e; */
    content: '';
    display: block;
    height: 100vh;
    position: absolute;
    width: 100%;
  }